<div ng-controller="OrderDetailController">
    <p class="material-whiteframe-z1">
        <strong>{{order.owner}}</strong> is ordering from <strong>{{order.restaurant.name}}</strong>
    </p>
    <material-card>
        <div layout="horizontal" layout-padding>
            <div flex="20">
                <img ng-src="{{order.restaurant.image}}" width="auto" height="50px">
            </div>
            <div flex="20">
                Order Delivery Fee:<br>
                <strong>{{order.displayableDeliveryFee | currency}}</strong>
            </div>
            <div flex="20">
                Individual Delivery Fee:<br>
                <strong>{{order.displayableIndividualDeliveryFee | currency}}</strong>
            </div>
            <div flex="20">
                Closes at:<br>
                <strong>{{order.closingTime | date:"h:mma"}}</strong>
            </div>
            <div flex="20">
                Estimated Time of Delivery:<br>
                <strong>{{order.estimatedDeliveryTime | date:"h:mma"}}</strong>
            </div>
        </div>
    </material-card>

    <material-card>
        <table class="table">
            <thead>
            <tr>
                <th class="col-xs-3">Owner</th>
                <th class="col-xs-3">Order</th>
                <th class="col-xs-2">Price</th>
                <th class="col-xs-1">Fee</th>
                <th class="col-xs-1">Total</th>
                <th class="col-xs-1">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in order.orderItems">
                <td>{{item.owner}}</td>
                <td>{{item.description}}</td>
                <td>{{item.price | currency}}</td>
                <td>{{order.displayableIndividualDeliveryFee | currency}}</td>
                <td>{{item.price + order.displayableIndividualDeliveryFee | currency}}</td>
                <td>
                    <material-button class="material-theme-red" style="width:100%" ng-click="dialog($event, item)">
                        <button class="material-button-inner">Delete</button>
                    </material-button>
                </td>
            </tr>
            </tbody>
        </table>
    </material-card>
    <div layout="horizontal" layout-padding>
        <div flex="50">
            <a href="#/orders/{{order.id}}/orderItem/">
                <material-button class="material-theme-dark" style="width:100%">
                    <button class="material-button-inner">Add something to this order</button>
                </material-button>
            </a>
        </div>
        <div flex="50">
            <a href="{{order.restaurant.menu}}" target="_blank">
                <material-button class="material-theme-light" style="width:100%">
                    <button class="material-button-inner">Show me the Menu</button>
                </material-button>
            </a>
        </div>
    </div>
</div>