<div ng-controller="OrderItemController">
    <div bs-panel title="Order Item">
        <div bs-panel title="Editing {{orderItem.description}}">
            <input
                    bs-form-control
                    type="text"
                    ng-model="orderItem.owner"
                    label="Owner"
                    label-class="col-xs-3 col-sm-2 col-lg-1"
                    class="col-xs-9 col-sm-10 col-lg-11"
                    placeholder="Who"
                    />
            <input
                    bs-form-control
                    type="text"
                    ng-model="orderItem.description"
                    label="Item"
                    label-class="col-xs-3 col-sm-2 col-lg-1"
                    class="col-xs-9 col-sm-10 col-lg-11"
                    placeholder="What"
                    />

            <input
                    bs-form-control
                    type="text"
                    ng-model="orderItem.price"
                    label="Price"
                    label-class="col-xs-3 col-sm-2 col-lg-1"
                    class="col-xs-9 col-sm-10 col-lg-11"
                    placeholder="How Much"
                    />


            <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
            <a href="#/order/{{orderItem.orderId}}">
                <button type="button" class="btn">Cancel</button>
            </a>
        </div>
    </div>
</div>