<div ng-controller="OrdersController">
    <material-card>
        <div layout="vertical">
            <material-list ng-repeat="order in orders">
                <a class="list-group-item" href="#order/{{order.id}}">
                    <material-item-content>
                        {{order.restaurant.name}} - {{order.owner}}
                    </material-item-content>
                </a>
                <material-divider ng-if="!$last"></material-divider>
            </material-list>
        </div>
    </material-card>
    <div layout="horizontal" layout-padding style="width:100%">
        <a href="#/order">
            <material-button class="material-theme-light">
                <button class="material-button-inner">New Order</button>
            </material-button>
        </a>
    </div>
</div>
